RewriteEngine on

RewriteRule ^home$ media2.php?module=home [L]
RewriteRule ^profil-kami\.html$ media2.php?module=profilkami&id=$1 [L]
RewriteRule ^cara-pembelian\.html$ media2.php?module=carabeli&id=$1 [L]
RewriteRule ^produk-(.*)\.html$ media2.php?module=detailproduk&id=$1 [L]
RewriteRule ^keranjang-(.*)\.html$ media2.php?module=keranjangbelanja&id=$1 [L]
RewriteRule ^selesai-(.*)\.html$ media2.php?module=selesaibelanja&id=$1 [L]
RewriteRule ^kategori-([0-9]+)-(.*)\.html$ media2.php?module=detailkategori&id=$1 [L]
RewriteRule ^halkategori-([0-9]+)-(.*)\.html$ media2.php?module=detailkategori&id=$1&halkategori=$2 [L]
RewriteRule ^simpan-transaksi\.html$ media2.php?module=simpantransaksi&id=$1 [L]
RewriteRule ^simpan-transaksi-member\.html$ media2.php?module=simpantransaksimember&id=$1 [L]
RewriteRule ^hubungi-kami\.html$ media2.php?module=hubungikami [L]
RewriteRule ^hubungi-aksi\.html$ media2.php?module=hubungiaksi [L]
RewriteRule ^lupa-password\.html$ media2.php?module=lupapassword [L]
RewriteRule ^kirim-password\.html$ media2.php?module=kirimpassword [L]
RewriteRule ^semua-produk\.html$ media2.php?module=semuaproduk [L]
RewriteRule ^halproduk-(.*)\.html$ media2.php?module=semuaproduk&halproduk=$1 [L]
RewriteRule ^hasil-pencarian\.html$ media2.php?module=hasilcari&id=$1 [L]
RewriteRule ^testimoni\.html$ media2.php?module=testimoni&id=$1 [L]
RewriteRule ^testimoni-aksi\.html$ media2.php?module=testimoniaksi&id=$1 [L]
RewriteRule ^download-katalog\.html$ media2.php?module=downloadkatalog&id=$1[L]
RewriteRule ^lokasi-kami\.html$ media2.php?module=lokasi&id=$1 [L]
Options All -Indexes
